.portfolio {
    margin: 0px auto 0px auto;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 10px; 
    max-width: 60%;
    &:last-child {
        margin-bottom: 0px;
    }
}
.portfolio_firstline {
    font-size: 34px;
    font-weight: bold;
    line-height: 42px;
    padding-bottom: 47px;
}
figcaption {
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 99px;
}
.pic_fig {
    width: 100%;
}

@media (max-width:1549px) {
    .portfolio {
        padding-top: 40px;
        padding-bottom: 10px; 
        max-width: 90%;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    figcaption {
        margin-top: 10px;
        margin-bottom: 40px;
    }

}