.mee {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin: auto;
}
.name {
    font-size: 47px;
    line-height: 58px;
    font-weight: bold;
    width: 300px;
    margin-right: 50px;
}
.occup {
    align-self: flex-end;
    width: 195px;
    font-size: 18px;
    line-height: 21px;
}
.lang {
    transform: rotate(-90deg);
    padding-top: 84px;
}

@media (max-width:1549px) {
    .mee {
        max-width: 90%;
    }
}

@media (max-width:767px) {
    .mee {
        flex-direction: column;
        margin-right: 0;
    }  
    .occup {
        align-self: flex-start;
    }
    .lang {
        display: none;
    }
    .name {
        margin-bottom: 20px;
    }
}