.myphoto {
    margin: 40px auto 80px auto;
    max-width: 60%;
}

@media (max-width:1549px) {
    .myphoto {
        max-width: 90%;
    }
}
@media (max-width:767px) {
    .myphoto {
        margin: 20px auto 60px auto;
        
    }
}