.sec_about_me {
    background-color: #F6F6F6;
}
.about_me {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0px auto 8px auto; 
    padding: 120px 15px 0 15px;
    text-align: center;
    &_title {
        font-size: 34px;
        line-height: 42px;
        margin-bottom: 30px;
        font-weight: bold;
    }
    &_firstline {
        line-height: 22px;
        margin-bottom: 30px;
    }
    &_secondline {
        line-height: 22px;
        margin-bottom: 30px;
    }
    &_thirdline {
        line-height: 22px;
        margin-bottom: 107px;
    }
}
.hillel_link{
    text-decoration: none;
    color: black;
    font-weight: bold;
    &:hover {
        color:rgb(11, 152, 187);
    }
}