html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Gilroy", sans-serif;
  font-style: 18px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Bold.eot");
  src: local("fonts/Gilroy Bold"), local("fonts/Gilroy-Bold"), url("fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Bold.woff2") format("woff2"), url("fonts/Gilroy-Bold.woff") format("woff"), url("fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.eot");
  src: local("fonts/Gilroy Medium"), local("fonts/Gilroy-Medium"), url("fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Medium.woff2") format("woff2"), url("fonts/Gilroy-Medium.woff") format("woff"), url("fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

.header {
  max-width: 60%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  list-style: none;
  margin: 32px 0 32px 0;
  border-bottom: 2px solid #070707;
  padding-bottom: 32px;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: #828282;
}
.link:hover {
  color: #070707;
}

#menu__toggle {
  display: none;
}

.menu__btn {
  display: none;
}

@media (max-width: 1549px) {
  .header {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 25px;
    width: 33px;
    height: 20px;
    cursor: pointer;
    z-index: 3;
  }

  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #616161;
  }

  .menu__btn > span::before {
    content: "";
    top: -7px;
  }

  .menu__btn > span::after {
    content: "";
    top: 7px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 100%;
    width: 375px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .menu__item {
    display: block;
    padding: 33px 24px;
    color: #333;
  }

  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: 0.25s;
  }

  .menu__box {
    transition-duration: 0.25s;
  }

  .menu__item {
    transition-duration: 0.25s;
  }

  .active__menu {
    visibility: visible;
    left: 0;
  }
}
.mee {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin: auto;
}

.name {
  font-size: 47px;
  line-height: 58px;
  font-weight: bold;
  width: 300px;
  margin-right: 50px;
}

.occup {
  align-self: flex-end;
  width: 195px;
  font-size: 18px;
  line-height: 21px;
}

.lang {
  transform: rotate(-90deg);
  padding-top: 84px;
}

@media (max-width: 1549px) {
  .mee {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .mee {
    flex-direction: column;
    margin-right: 0;
  }

  .occup {
    align-self: flex-start;
  }

  .lang {
    display: none;
  }

  .name {
    margin-bottom: 20px;
  }
}
.myphoto {
  margin: 40px auto 80px auto;
  max-width: 60%;
}

@media (max-width: 1549px) {
  .myphoto {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .myphoto {
    margin: 20px auto 60px auto;
  }
}
.sec_about_me {
  background-color: #F6F6F6;
}

.about_me {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0px auto 8px auto;
  padding: 120px 15px 0 15px;
  text-align: center;
}
.about_me_title {
  font-size: 34px;
  line-height: 42px;
  margin-bottom: 30px;
  font-weight: bold;
}
.about_me_firstline {
  line-height: 22px;
  margin-bottom: 30px;
}
.about_me_secondline {
  line-height: 22px;
  margin-bottom: 30px;
}
.about_me_thirdline {
  line-height: 22px;
  margin-bottom: 107px;
}

.hillel_link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.hillel_link:hover {
  color: rgb(11, 152, 187);
}

@media (max-width: 1549px) {
  .about_me {
    padding: 40px 15px 0px 15px;
    margin-bottom: 0;
  }
  .about_me_thirdline {
    margin-bottom: 40px;
  }
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  margin-bottom: 110px;
}
.skills_firstline {
  padding-top: 90px;
  margin-bottom: 70px;
  font-weight: bold;
  font-size: 34px;
}
.skills_secondline {
  margin-bottom: 80px;
  text-align: center;
  line-height: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.card {
  text-align: center;
}
.card_icon {
  height: 90px;
  margin-bottom: 24px;
}
.card_icon-html {
  height: 104px;
  margin-bottom: 19px;
  margin-top: -9px;
}
.card_name {
  margin-bottom: 20px;
  font-style: 14px;
  line-height: 17px;
}

img.card_icon:hover {
  transition: 0.7s ease-in-out;
  transform: rotate(1turn);
}

@media (max-width: 1549px) {
  .skills {
    margin-bottom: 40px;
  }
  .skills_firstline {
    padding-top: 40px;
    margin-bottom: 30px;
  }
  .skills_secondline {
    margin-bottom: 40px;
  }

  .card_name {
    margin-bottom: 7px;
  }
}
@media (max-width: 767px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .card {
    text-align: center;
    margin-bottom: 25px;
  }
  .card_icon {
    height: 90px;
    margin-bottom: 15px;
  }
  .card_name {
    margin-bottom: 7px;
  }

  .cards {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 29px;
    align-content: center;
  }
}
.portfolio {
  margin: 0px auto 0px auto;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 10px;
  max-width: 60%;
}
.portfolio:last-child {
  margin-bottom: 0px;
}

.portfolio_firstline {
  font-size: 34px;
  font-weight: bold;
  line-height: 42px;
  padding-bottom: 47px;
}

.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 80vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: 0.5s;
}

.box > span {
  font-size: 2vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover {
  flex: 1 1 50%;
}

.box:hover > img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 1549px) {
  .portfolio {
    padding-top: 40px;
    padding-bottom: 10px;
    max-width: 90%;
  }

  figcaption {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .box > img {
    height: 60%;
  }

  .box:hover {
    flex: 1 1 30%;
  }

  .box:hover > img {
    object-fit: contain;
  }
}
.footer {
  text-align: center;
  margin-bottom: 100px;
}
.footer_firstline {
  font-size: 34px;
  font-weight: bold;
  padding-top: 104px;
  margin-bottom: 20px;
}
.footer_secondline {
  margin-bottom: 7px;
}
.footer_thirdline {
  margin-bottom: 40px;
}
.footer_mailme {
  height: 35px;
  width: 115px;
  background-color: black;
  border-radius: 15px;
  padding-top: 7px;
  margin: 0 5px 40px 5px;
  text-decoration: none;
  font-weight: bold;
  color: #828282;
}
.footer_mailme:hover {
  color: white;
}
.footer_find_me {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 15px;
}

.getintouch {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icons {
  height: 50px;
  font-size: 50px;
  text-decoration: none;
  margin: 0 5px 0 5px;
  color: black;
}
.icons:hover {
  color: darkgray;
}
.icons-hh {
  font-size: 33px;
  height: 50px;
  width: 50px;
  padding-top: 8px;
  padding-left: 2px;
  color: white;
  background-color: black;
  border-radius: 100%;
}
.icons-hh:hover {
  background-color: darkgray;
  color: white;
}

.icon_tab {
  display: flex;
  justify-content: center;
}

@media (max-width: 1549px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
  }
  .footer_firstline {
    padding-top: 40px;
  }
  .footer_thirdline {
    margin-bottom: 15px;
  }
  .footer_mailme {
    height: 35px;
    background-color: black;
    border-radius: 15px;
    padding-top: 7px;
    margin: 0 5px 10px 5px;
  }
  .footer_mailme:hover {
    color: white;
  }
  .footer_find_me {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
